/****** Hebergements And Populaires / Mise en forme générale ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}
/***Format CARDS Général***/

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

/*icônes de couleur bleue*/
.fa-solid {
  color: var(--main-color);
}
/*couleur étoile neutre*/
.neutral-star {
  color: var(--main-bg-color);
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/****** Hebergements / Section de Gauche***********/
.hebergements {
  width: 65%;
  margin-bottom: 60px;
}

.hebergements-cards {
  display: flex;
  margin-top: 33px;
  margin-bottom: 30px;
  gap: 30px;
}

.hebergements-cards .content {
  width: 233px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.hebergements-cards img {
  width: 100%;
  height: 107px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.lien {
  font-size: 18px;
  font-weight: 700;
}

/****** Populaires / Section de Droite ***********/
.populaires {
  width: 32%;
  margin-bottom: 35px;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****************************Bloc Cards Activités**************************/
/*****Mise en forme globale******/
.activites {
  display: flex;
}

.activites section {
  padding: 30px;
  box-sizing: border-box;
}

.activites-card {
  width: 1280px;
}
/*************Cards activités****************/
.card-act {
  background-color: white;
  border-radius: 20px;
  width: 297.5px;
  margin-top: 33px;
  margin-bottom: 30px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.activites-cards {
  display: flex;
  gap: 30px;
}
.activites-cards img {
  width: 100%;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-act img {
  object-fit: cover;
}
.card-act-title {
  font-size: 16px;
  padding: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .card-act {
    width: 100%;
  }
}
/*****Small devices (phones, less than 768px)******/
@media (max-width: 767.98px) {
  .hebergements-and-populaires section {
    border-radius: 0;
    padding: 20px;
  }
  .populaires-cards {
    flex-direction: column;
    gap: 15px;
  }
  .populaires-cards a {
    width: 100%;
  }
  .hebergements-cards {
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
  }
  .card-act {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .activites-cards {
    flex-direction: column;
    gap: 15px;
  }
  .activites-cards img {
    height: 141px;
  }
  .card-act-title {
    padding: 20px;
  }
}
