/************Section Infos et Recherches***************/
.espaces {
  margin-bottom: 35px;
}
/*hauteur des lignes*/
.ligne {
  line-height: 30px;
}

/************Barre de recherche********************/
.form {
  display: flex;
  flex-direction: row;
}
/***icône map***/
.fond {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  width: 50px;
  height: 49px;
  border-radius: 15px 0 0 15px;
}

/***champ de recherche***/
.cadre {
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
  border-right: none;
  border-left: none;
  height: 49px;
  width: 195px;
  margin-right: -5px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}
/***CTA****/
.submit {
  border-radius: 0 15px 15px 0;
  background-color: var(--main-color);
  height: 49px;
  width: 132px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.rechercher {
  display: block;
}
.loupe {
  display: none;
}

/**************Filtres**********************/
/**ligne filtres + boutons***/
.cta {
  display: flex;
  align-items: center;
  gap: 15px;
}
/******ligne boutons*****/
.cta_two {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
/**boutons individuels**/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  border: 2px solid var(--icon-bg-color);
  padding: 0 19px 0 19px;
  font-size: 17px;
  font-weight: 700;
  gap: 10px;
}
.btn:hover {
  background-color: var(--filter-bg-color);
}

/***************INFOS**************/
.info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cercle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  border: 2px solid var(--icon-bg-color);
}
/************************** Media queries **********************/
/*******Medium devices (tablets, less/equal than 1024px)*******************/
@media (max-width: 1024px) {
  .cta {
    flex-direction: column;
    align-items: flex-start;
  }

  .btn {
    font-size: 16px;
  }
}
/*******************Media Queries************************/
/******************* Small devices (phones, less than 768px)**************/
@media (max-width: 767.98px) {
  /****formatage de la section info*****/
  .marge {
    margin-left: 20px;
  }
  .haut {
    margin-top: 30px;
  }

  /****champ de recherche****/
  .cadre {
    width: 245px;
    text-align: start;
    padding-left: 20px;
    margin-right: -15px;
  }

  /***icône loupe à la place du bouton "rechercher"***/

  .submit {
    width: 50px;
    height: 49px;
    border-radius: 15px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  }
  .rechercher {
    display: none;
  }
  .loupe {
    display: block;
  }

  /*******filtres***********/
  .cta_two {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  .btn {
    width: 34%;
    margin-top: 10px;
    font-size: 14px;
  }
}
