/****** Fichier CSS General ***********/

/* Liens vers les différentes parties/éléments de la page en CSS */
@import "./info.css";
@import "./commodites.css";

/* Modules */
@import "./modules/navbar.css";
@import "./modules/footer.css";

/*Fonts générales et réinitialisation des marges navigateurs*/
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
}
/*Charte des Couleurs pour l'ensemble du site*/
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2; /*bckgd gris*/
  --filter-bg-color: #deebff; /*survol bleu*/
}
/*Taille générale pour le format Desktop*/
.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 1025px;
  padding: 0 50px;
  box-sizing: border-box;
}

/*Paramètres généraux du corps du site*/
body {
  display: flex;
  justify-content: center;
}
a {
  color: inherit;
  text-decoration: none;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /*****définition du largeur minimum*****/
  .main-container {
    min-width: 320px;
    padding: 0 0;
  }
}
