/*******Mise en forme du HEADER*******/
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 79px;
  margin-top: 14px;
  margin-bottom: 30px;
}
.logo {
  width: 61.09px;
  height: 19px;
  margin-top: 15px;
}
.items {
  font-size: 16px;
  font-weight: 400;
  padding-top: 12px;
}
.items:first-child {
  margin-right: 68px;
}

.items_overline:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

/******************* Small devices (phones, less than 768px)**************/
@media (max-width: 767.98px) {
  .flex {
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid var(--main-bg-color);
    margin-top: 10px;
    height: 115px;
    justify-content: space-around;
  }
  .logo {
    margin-top: 0;
  }
  .items:first-child {
    margin-right: 95px;
  }
  .items:last-child {
    margin-right: 25px;
  }
  .items {
    padding-top: 0;
    padding-bottom: 18px;
  }
  .items_overline:hover {
    border-top: none;
    border-bottom: 2px solid var(--main-color);
  }
}
