/*******Mise en forme du HEADER*******/
.flex {
  display: flex;
  justify-content: space-between;
  height: 79px;
  margin-bottom: 30px;
}

.logo {
  width: 61px;
  height: 19px;
  margin-top: 30px;
}
/******Bloc spécifique des liens du menu, pour pouvoir allonger le soulignement au-dessus ou au-dessous selon le format de l'écran******/
.block {
  display: flex;
  justify-content: center;
  gap: 60px;
  width: 250px;
  padding-top: 15px;
}

.block_items a {
  padding-top: 13px;
}

.block_items a:hover {
  color: var(--main-color);
  border-top: 3px solid var(--main-color);
}

/********Media Queries*********/
/******************* Small devices (phones, less than 768px)**************/
@media (max-width: 767.98px) {
  .flex {
    flex-direction: column;
    align-items: center;
    height: 115px;
    margin-bottom: 20px;
  }

  .logo {
    margin-top: 30px;
  }
  .block {
    width: 100%;
    text-align: center;
    gap: 0;
  }
  .block_items {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--main-bg-color);
  }
  .block_items a:hover {
    border-top: none;
  }
  .block_items:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
  }
}
